<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Food Items</h1>
    <ul>
        <% for(let food of foodItems) {%>
            <li><%=food.fid %> - <b><%= food.fname%></b> - <b><%= food.unitPrice%></b> </li>
        <% } %>
    </ul>
</body>
</html>