body{
    background-color:black;
    color:white;
}
header >h1{
    background-color: white;
    color:navy;
    text-align: center;
}
nav{
    background-color: rgb(252, 7, 7);
    display:inline-block;
    margin:1px;
    text-align: right;
    width: 100%;   
}
nav >a{
    color:rgb(138, 207, 202);
    margin:2px;
}